<%- include("partials/header.ejs") %>

<div class="container mt-5">
    <form action="/editarBlog" method="POST">
        <div class="mb-3">
            <h2>Edita el blog</h2>
            <label class="form-label">Título del blog</label>
            <input type="text" class="form-control" name="titulo" value="<%= blog.titulo %>" required>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Contenido del blog</label>
            <textarea class="form-control" name="contenido" rows="5" required><%= blog.contenido %></textarea>
        </div>

        <input type="hidden" name="numBlog" value="<%= numBlog %>">
        <input type="submit" class="btn btn-primary" value="Guardar cambios" />
    </form>
</div>

<%- include("partials/footer.ejs") %>